<html>
<head>
	<title>Word Trees!</title>
</head>
<body>
	<center>
		<h1>Treeeees!</h1>
		<form action="/" method="get">
			<input type="text" name="sentence" style="width:600px;" />
			<input type="submit" value="Go!" />
		</form>
		<% if garden %>
			<h2>Your Word Garden:</h2>
			<pre>
				<%= garden %>
			</pre>
		<% end %>
	</center>
</body>
</html>